<section>
  <h1> Recommend Books </h1>
  <!--The Little schemer-->
  <p> 
    {{ "0262560992" | amazon_large_image }}
  </p>
  <p>
    {{ "0262560992" | amazon_link }}
    by {{ "0262560992" | amazon_authors }}
  </p>
  <h1>Recent Readings</h1>
  <!--Paradigms of Artificial Intelligence, case study common lisp-->
  <p> 
    {{ "0307463745" | amazon_medium_image }}
  </p>
  <p>
    {{ "0307463745" | amazon_link }}
    by {{ "0307463745" | amazon_authors }}
  </p>
  <!--AI modern approach-->
  <p> 
    {{ "0136042597" | amazon_medium_image }}
  </p>
  <p>
    {{ "0136042597" | amazon_link }}
    by {{ "0136042597" | amazon_authors }}
  </p>
</section>