<section>
  <header>
  <h1> Recommend Books </h1>
  </header>
  <!--The Little schemer-->
  <article>
    <p>
      {{ "0262560992" | amazon_large_image }}
    </p>
    <p>
      {{ "0262560992" | amazon_link }}
      by {{ "0262560992" | amazon_authors }}
    </p>
  </article>

  <article>
    <p>
      {{ "0307463745" | amazon_medium_image }}
    </p>
    <p>
      {{ "0307463745" | amazon_link }}
      by {{ "0307463745" | amazon_authors }}
    </p>
  </article>
</section>
<section>
  <header>
    <h1>Recent Readings</h1>
  </header>
  <article>
  <!--Paradigms of Artificial Intelligence, case study common lisp-->
    <p>
      {{ "1935182277" | amazon_medium_image }}
    </p>
    <p>
      {{ "1935182277" | amazon_link }}
      by {{ "1935182277" | amazon_authors }}
    </p>
  </article>
  <!--AI modern approach-->
  <article>
    <p>
      {{ "1934356379" | amazon_medium_image }}
    </p>
    <p>
      {{ "1934356379" | amazon_link }}
      by {{ "1934356379" | amazon_authors }}
    </p>
  </article>
</section>
