<section>
	<header>
  	<h1>朋友</h1>
	</header>
  <ul>
    <li>
	  <h2><a href="http://fengdidi.github.com/" target="_blank">泰安小碼農</a></h2>
	  <p> 笨辦法學Prolog </p>
	</li>
	<li>
	  <h2><a href="http://huangz.iteye.com/" target="_blank">HuangZ</a></h2>
	  <p> PCL 個人翻譯版</p>
	</li>
  </ul>
  <h1>推薦</h1>
  <ul>
    <li>
	  <h2><a href="http://norvig.com/" target="_blank">Peter Norvig</a></h2>
	  <p> Google 人工智慧專家 </p>
	</li>
	<li>
	  <h2><a href="http://www.paulgraham.com/" target="_blank">Paul Graham</a></h2>
	  <p> 地球上最會編Lisp的人</p>
	</li>
	<li>
	  <h2><a href="http://abstrusegoose.com/" target="_blank">Abstruse Goose</a></h2>
	  <p> 科技宅漫畫 </p>
	</li>
	<li>
	  <h2><a href="http://www.aaronsw.com/" target="_blank">Aaron Swartz</a></h2>
	  <p> 美國程序員 </p>
	</li>
  </ul>
</section>
